html,body {
    height: 100%;
    background-color: $background-color;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // background: linear-gradient(to right, #0b0b18 0%, #151a34 100%);
    font-family: 'Raleway', sans-serif;
}


button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

