.login_page input
{
  margin: 4px;
}

.faucet_file_form {
 
width: 100%;
align-items: center;
padding-left: 35%;
padding-top: 15%;

}

.account_creation_message {
  color: red;
  background: #F9C6CE;
  padding: 10px;
  margin: 20px;
}
.login_page {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  // margin: 20%;
  background: #F7F7F7;
  border-radius: 10px; 
}
.release_button{
  float:right;
}
.assign_button{
  margin-left: 4px;
  border-color: #BC9cff;
  border-radius: 8px; 
  border-style: solid; 
  font-size: 18px;
  color:white;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    min-width: 20px;
}
.gig {
  background: #F7F7F7;
  border-radius: 15px; 
padding: 12px 20px;
margin: 12px;
font-weight: 300;
}
.gig_row_2 {
  margin: 2px;
}
.gig_row_2  >input {
  width: 50%;
  margin: 4px 0;
  border-color: #BC9cff;
  border-radius: 8px;
  border-style: solid; 
}
.gig_row_1 {
display: flex;
justify-content: space-between;
}

.gig_body > div {
  position: absolute;
left: 10%;
right: 10%;
top: 23%;
bottom: 5.44%;

// background: #F7F7F7;
// border-radius: 10px; 
}

.page_header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3.89%;
  bottom: 80.22%;
  font-family: Content;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 177px;
  white-space: nowrap;
  color: #FFFFFF;
}


.landing_body .choose_button{
  
  margin-top: 15px;
  margin-left: 15%;
  padding: 15px;
  border-color: #BC9cff;
  border-radius: 20px; 
  border-style: solid; 
  font-size: 18px;
  // width: 15%;
  color:white;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  // display: inline-block;
  text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    min-width: 150px;

}


.landing_body .option{
font-weight: 500;
font-size: 40px;
padding-left: 13%;
padding-top: 17%; 
}


.landing_body > div {
    position: absolute;
  left: 10%;
  right: 10%;
  top: 23%;
  bottom: 5.44%;
  
  background: #F7F7F7;
  border-radius: 10px; 
  }

.post_body div {
  position: absolute;
left: 5.97%;
right: 5.35%;
top: 23%;
bottom: 5.44%;
background: #F7F7F7;
border-radius: 10px; 
}

.post_body .input_title {
  width: 88%;
  margin: 0% 6%;
  // margin-bottom: 2%;
  padding: 15px;
  padding-left: 30px;
  border-color: #BC9cff;
  border-radius: 18px;
  border-style: solid; 
}

.post_body .input_details {
  width: 88%;
  margin: 2% 6%;
  padding: 15px;
  padding-left: 30px;
  border-color: #BC9cff;
  border-radius: 20px; 
  border-style: solid; 
  font-size: 18px;
}

.post_body .input_amount {
  margin: 2% 6%;
  padding: 15px;
  padding-left: 30px;
  border-color: #BC9cff;
  border-radius: 20px; 
  border-style: solid; 
  font-size: 18px;
  width: 20%;
  min-width: 200px;
}

.post_body .post_button {
  margin: 2% 6%;
  padding: 15px;
  border-color: #BC9cff;
  border-radius: 20px; 
  border-style: solid; 
  font-size: 18px;
  width: 15%;
  float: right;
  color:white;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  // display: inline-block;
  text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    min-width: 20px;
}
.post_body input {
  font-size: 18px;
}

::placeholder {
    opacity: 0.45;
}

input[type="text"], input[type="password"], textarea, select, button { 
  outline: none;
}

