.modalClass {
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)'
}

.card-box {
    min-height: 50px;
    position: relative;
    margin-bottom: 3%;
    transition: .5s;
    border:none;
    border-radius: 2px;

    box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.1);
    transition: all 0.5s;

}

.card-box:hover{
    box-shadow: 2px 4px 15px 5px rgba(0,0,0,0.15);
    transition: all 0.5s;
}

.card-head {
    border-radius: 2px 2px 0 0;
    // border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 9px;
    text-transform: uppercase;
    color: #3a405b;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    min-height: 40px;
}

.card-head header {
    display: inline-block;
    padding: 11px 24px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 16px;
}

.card-head .tools {
    padding-right: 16px;
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 24px;
    line-height: normal;
    vertical-align: middle;
}
.card-head > div {
    display: inline-block;
}



.card-body:last-child {
    border-radius: 0 0 2px 2px;
}
.card-body {
    padding: 10px 24px 24px 24px;
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 1.25rem 1.25rem 1.25rem;
}
body{
    color:#767a7f;
}
.table td, .table th, .card .table td, .card .table th, .card .dataTable td, .card .dataTable th {
    padding: 15px 8px;
    vertical-align: middle;
    font-weight: 500;
}
.card .table th{
    color:#b4b3bb;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}
.table{
    border:none !important;
}
.table thead tr th {
    font-size: 14px;
    font-weight: 600;
}

.label.label-sm {
    font-size: 10px;
    font-weight: 600;
    padding: 6px 6px;
}

.label.label-sm {
    font-size: 13px;
    padding: 2px 5px;
}
.label-success {
    background-color: #36c6d3 !important;
}
.label {
    text-shadow: none!important;
    color: #fff;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 15px;
    background: #1ebdcc;
    line-height: 1;
    text-align: center;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.row{
    padding-left: 2%;
    padding-right: 2%;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar-cust{
    // background-color: #182c4b;
    width: 100%;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    margin-bottom: 2%;
    z-index: 999;
    color:#fff;
  }

  .button-cust{
    background-color:rgb(33, 206, 153);
    border: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 600;
  }

.info-card{
    height: 150px;
    padding: 0 10%;
    color:#fff;
    border: none;
    border-radius: 15px;
}

.contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info-card .header{
    font-size: 0.8em;
}
.info-card .info{
    font-size: 1.54em;
    font-weight: 500;
}
.bg-green {
    background: #40c999;
}
.bg-red {
    background: #f63f56;
}
.bg-purple{
    background: #7767e9;
}
.bg-blue{
    background: #2ad0ec;
}

.page-content{
    padding: 0 5%;
}

.blue-half{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 450px;
    background-color: #182c4b;
    background-image: linear-gradient(90deg, #182c4b, #254474); /* Standard syntax (must be last) */
}
